
body{
    background-color: #F5E7D9;
    height: 100vmin;
    margin: auto;

}

.pie{
    height: 100%;
    display: flex;
    align-items: flex-end;
}



/*ESTILO CAMPOS DEL FORMULARIO*/

.formulariologin{
    padding: 20px;
    margin: auto 0;
}

.estilodivlogin{
    padding-bottom: 15px;
}

.estilodivlogin label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.formatocampo{
    width: 100%;
    padding: 10px 10px ;
    
}


/*ESTILO DEL ENCABEZADO*/

.encabezadologin{
    margin: auto 0;
}

.titulologin{
    text-align: center;
    font-family: 'Poppins';
    color: #9DD274;
    
}

/*ESTILOS DE BOTONES + FUNCIÓN CAMBIAR COLOR*/

.button{
 border:none;
 background-color: #9DD274;
 font-size: 20px;
 color:#fff;
 padding: 5px 10px;
 border-radius: 5px;
 text-align: center;
 
}

.button:hover{
   
    background-color: #DD721B;
  
    
}

.center{
    text-align: center;
    padding: 10px;
}

.olvidemicontraseña{
    text-align: center;
    padding: 10px;
    font-style: italic;
}
