<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-editProduct.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!-- FORMULARIO EDITAR PRODUCTO -->
    <main class="main-register">

        <%- include("../partials/menuMediaQuery.ejs")%>
        
    
        <section class="encabezadoEdicion">
            <h1 class="encabezado"> Editar Producto Exitente</h1>
        </section>
        <section class="editProduct">
            <form class="editform" action="/" method="POST">
                <div class="stylediv">
                    <strong><label for="editName">Editar nombre del producto</label></strong>
                    <input type="text" id="editName" name="editName" placeholder="Ingresar nuevo nombre" class="camp-edit"required>

                </div>
                <div class="stylediv">
                    <strong><label for="descriptionEdit"> Editar descripción del Producto</label></strong>
                    <textarea name="descriptionEdit" class="camp-edit" required> </textarea>
                    
                </div>
                <div class="stylediv">
                    <strong><label for="imagenEdit">Cambiar Imagen del Producto</label></strong>
                   
                    <input class="center" type="file" id="imagenEdit" name="imagenEdit" accept=".jpg">
                     
                </div>
             
                <div class="stylediv">
                    <strong><label for="categoryEdit">Elegir nueva Categoría</label></strong>
                    <select name="categoryEdit">
                        <option name="cuidadocapilar">Cuidado Capilar</option>
                        <option name="rostroycuerpo">Rostro y Cuerpo</option>
                        <option name="combos">Combos</option>
                        <option name="regalos">Regalos</option>
                        <option name="sale">Sale</option>
                    </select>    

                </div>

                <div class="stylediv">
                    <strong><label for="stockEdit">Actualizar Stock</label></strong>
                    <input type="number" id="stockEdit" name="stockEdit" placeholder="Ingrese nuevo Stock" class="camp-edit" required>

                </div>
                             
                <div class="stylediv">
                    <strong><label for="priceEdit"> Actualizar precio</label></strong>
                    <input type="number" id="priceEdit" name="priceEdit" placeholder="$" class="camp-edit" required>
                </div>

                <div class="stylediv center">
                    <input type="reset" value="Borrar Producto" class="button">
                    <input type="submit" value="Actualizar Producto" class="button"> 

                </div>


            </form>
            
        </section>

                <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
                <figure class="banner-carrousel-bottom">
                    <img src="img/banner-bottom.gif" alt="banner-bottom">
                </figure>

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>

</html>