<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-productList.css">

<body>

    <%- include("../partials/header.ejs")%>

    <main class="main-productList">

        <%- include("../partials/menuMediaQuery.ejs")%>

                        <!--TODOS LOS PRODUCTOS-->

                        <section class="list-products">
                            <article class="product-article">
                                <a href="/products"> <img src="img/bl1.jpg" alt="Balsamo labial cacao"></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">BÁLSAMO LABIAL DE CACAO</a>
                                    <p class="product-price">$170</p>
                                </div>
                            </article>
                            <article class="product-article">
                                <a href="/products"><img src="img/exf1.jpg" alt="Exfoliante Cafe y Azuzar"></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">EXFOLIANTE FACIAL DE CAFÉ Y AZÚCAR</a>
                                    <p class="product-price">$320</p>
                                </div>
                            </article>
                            <article class="product-article">
                                <a href="/products"><img src="img/j1.jpg" alt="Jabon rosa mosqueta"></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">JABÓN CORPORAL DE ROSA MOSQUETA</a>
                                    <p class="product-price">$210</p>
                                </div>
                            </article>
                            <article class="product-article">
                                <a href="/products"><img src="img/ss1.jpg" alt="Shampoo solido ortiga romero"></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">SHAMPOO SÓLIDO FORTALECEDOR DE ORTIGA Y ROMERO</a>
                                    <p class="product-price">$400</p>
                                </div>
                            </article>
                            <article class="product-article">
                                <a href="/products"><img src="img/bl2.jpg" alt="Balsamo labial cafe"></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">BÁLSAMO LABIAL DE CAFÉ</a>
                                    <p class="product-price">$180</p>
                                </div>
                            </article>
                            <article class="product-article">
                                <a href="/products"><img src="img/exf2.jpg" alt="exfoliante corporal limon romero"></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">EXFOLIANTE CORPORAL DE LIMÓN Y ROMERO</a>
                                    <p class="product-price">$290</p>
                                </div>
                            </article>
                            <article class="product-article">
                                <a href="/products"><img src="img/j4.jpg" alt="Jabon detox oliva y carbon "></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">JABÓN DETOX DE OLIVA Y CARBÓN</a>
                                    <p class="product-price">$230</p>
                                </div>
                            </article>
                            <article class="product-article">
                                <a href="/products"><img src="img/ss3.jpg" alt="Shampoo solido reparador karite"></a>
                                <div class="product-description">
                                    <a href="/products" class="product-name">SHAMPOO SÓLIDO REPARADOR KARITÉ</a>
                                    <p class="product-price">$210</p>
                                </div>
                            </article>
                            <div class="all-products">
                                <a href="/products">MOSTRAR MÁS PRODUCTOS</a>
                            </div>
                        </section>

            <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
            <figure class="banner-carrousel-bottom">
                <img src="img/banner-bottom.gif" alt="banner-bottom">
            </figure>

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>
</html>