

hr {
    color: #35120B;
}

.main-cart {
    padding-top: 10vh;
}

/*TÍTULO*/
.encabezadocarrito {
    padding: 1vh;
    font-size: 2vh;
    color: #35120B;
}

/*PRIMER DIV CON PRODUCTO Y SUBTOTAL*/

.top-carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    color: #35120B;
}

.subtotal {
    padding-right: 8%;
}

/*SEGUNDA DIV CON IMAGEN, DESCRIPCIÓN Y PRECIO*/

.detalleproducto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #35120B;
}

.contenedorimagen {
    width: 25%;
}

.imgproducto {
    width: 100%;
    padding: 2vh;
    margin: 0;
}

.descripcion {
    width: 80%;
    padding: 2vh;
}

.contenedorasubtotal {
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    width: 40%;

}

.papelera {
    padding-bottom: 20.8vh;
    border: none;
    background-color: #F5E7D9;
    color: #35120B;

}

/* CANTIDAD */

.quantity {
    display:flex;
}

.quantity p {
    padding-top: 0.5rem;
    padding-right: 0.3rem;
}

.quantity option {
    background-color: #f5e7d9;
    border: #35120B;
    font-size: 0.8rem;
}

.quantity select {
    font-size: 0.9rem;
    padding: 0.3rem 0rem;
    border: 1px solid #35120B;
    background-color: white;
    border-radius: 10%;
}

/*TERCERA DIV CON SUBTOTAL Y PRECIO*/

.subtotalfinal {
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}

.subt {
    font-size: 3vh;
    color: #35120B;
}

.preciofinal {
    font-size: 3vh;
    color: #35120B;
}

.total {
    font-size: 3vh;
    font-weight: bold;
    color: #35120B;
}

/*DIV CON ESTILO DEL ENVÍO*/

.envío {
    padding: 2vh;
    width: 100%;
    color: #35120B;
}

.envio label {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.envio option {
    background-color: #f5e7d9;
    border: #35120B;
    font-size: 0.8rem;
}

.envio select {
    font-size: 0.9rem;
    padding: 0.3rem 0rem;
    border: 1px solid #35120B;
    background-color: white;
    border-radius: 10%;
}

/*BOTÓN DE FINALIZAR COMPRA*/

.finalizarcompra {
    padding: 1.5rem;
    text-align: center;
}

.finalizarcompra a {
    border: none;
    background-color: #35120B;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

}

.vermas {
    text-align: center;
    color: #35120B;
    padding: 5px 10px;
}

.vermas a{
    text-decoration: none;
    color: #35120B;
}

.banner-carrousel-bottom-cart {
	width: 90%;
	display: none;
	margin: auto;
	padding: 0.3rem;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.banner-carrousel-bottom-cart img {
	width: 100%;
	border: 1px solid #35120B;
}

.main-footer {
    display: none;
}

@media (min-width: 481px) {
    .encabezadocarrito {
        padding-top: 8vh;
    }
    .subtotal {
        padding-right: 16%;
    }

}

@media (min-width: 769px) {

    .subtotal {
        padding-right: 20.7%;
    }

    .banner-carrousel-bottom-cart {
        display: block;
    }

    .quantity select {
        width: 10vw;
        border-radius: 0%;
    }

    .quantity option {
        text-align: center;
    }

    .papelera {
        padding-bottom: 22vh;
    }

    .envío label {
        font-size: 1rem;
        padding-right: 1rem;
    }
    
    .envío select{
        width: 50%;
    }

    .papelera:hover {
        color: #DD721B;
    
    }
    
    .finalizarcompra a:hover{
   
        background-color: #DD721B;
    }

    .vermas a:hover{
        text-decoration: underline;
        transition: 0.3s all;
    }

    .main-footer {
        display: block;
    }

}

@media (min-width: 1000px) {
    .papelera {
        padding-bottom: 30.1vh;
    }
}
