
body{
    background-color: #F5E7D9;
}

.main-login {
    padding-top: 10vh;
}


/*ESTILO CAMPOS DEL FORMULARIO*/

.formulariologin{
    padding: 20px;
    margin: auto 0;
}

.estilodivlogin{
    padding-bottom: 15px;
}

.estilodivlogin label{
    padding-bottom: 0.3rem;
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    color: #35120B;
}

.formatocampo{
    width: 100%;
    padding: 10px 10px;
    border: 3px solid transparent;
}

.input-i {
    position: relative;
}

.fire {
        position: absolute;
        right: 1.5rem;
        bottom: 0.8rem;
        z-index: 100;
        font-size: 1.2rem;
        opacity: 0;
}

.tree {
    position: absolute;
    right: 1.5rem;
    bottom: 0.8rem;
    z-index: 100;
    font-size: 1.2rem;
    opacity: 0;
}

.alert-danger .formatocampo{
    border: 2px solid #bb2929;
}

.alert-danger .formatocampo label{
    color: #bb2929
    
}

.alert-danger .fire {
    color: #bb2929;
    opacity: 1;
}

.is-valid .formatocampo {
    border: 2px solid #9DD274;
}

.is-valid .formatocampo label{
    color: #9DD274
    
}

.is-valid .tree{
    color: #9DD274;
    opacity: 1;
}


/*ESTILO DEL ENCABEZADO*/

.encabezadologin{
    margin: auto 0;
}

.titulologin{
    text-align: center;
    font-family: 'Poppins';
    color: #35120B;
    
}

/*ESTILOS DE BOTONES + FUNCIÓN CAMBIAR COLOR*/

.button{
 border:none;
 background-color: #35120B;
 font-size: 20px;
 color:#fff;
 padding: 5px 10px;
 border-radius: 5px;
 text-align: center;
 
}

.remember-me {
    padding: 0.5rem;
}

.remember-me label {
    color: #35120B;
}

.remember-me i {
    color: #35120B;
}

.center{
    text-align: center;
    padding: 10px;
}

.olvidemicontraseña{
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.olvidemicontraseña a {
    text-decoration: none;
    color: #35120B;
    font-size: 0.9rem;
}

.crearcuenta{
    text-align: center;
    padding: 10px 10px 0px 10px;
}

.crearcuenta a {
    text-decoration: none;
    color: #35120B;
    font-size: 0.9rem;
}

.error {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    color: rgb(11, 68, 11)
}

@media (min-width: 481px) {
    .encabezadologin {
        padding-top: 8vh;
    }
    .login {
        width: 70%;
        margin: auto;
    }
    .estilodivlogin {
        padding: 0.6rem;
    }
}

@media (min-width: 769px) {
    .login {
        width: 60%;
    }
    .button:hover{
           background-color: #DD721B;
        }

        .crearcuenta a:hover {
            color: #DD721B;
        }
    
        .olvidemicontraseña a:hover {
            color: #DD721B;
        }
        .error {
            font-size: 1rem;
        }
    }


