body{
    background-color: #F5E7D9;
}

.main-editproduct {
    padding-top: 10vh;
}

/*ESTILO CAMPOS DEL FORMULARIO*/


.editform{
    padding: 20px;
    margin: auto;
}

.stylediv{
    padding-bottom: 15px;
}

.stylediv label{
    padding-bottom: 0.3rem;
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    color: #35120B;
}

.stylediv option {
    background-color: #f5e7d9;
    border: #35120B;
    font-size: 0.8rem;
}

.stylediv select {
    font-size: 0.9rem;
    padding: 0.3rem 0rem;
    border: 1px solid #35120B;
    background-color: white;
}

.camp-edit{
    width: 100%;
    padding: 10px 10px ;
}




/*FORMATO ENCABEZADO*/

.encabezadoEdicion{
    margin: auto 0;
}

.encabezado{
    text-align: center;
    font-family: 'Poppins';
    color: #35120B;
}

/*ESTILO BOTON*/

.button{
    border:none;
    background-color: #35120B;
    font-size: 20px;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
   }

.center{
    text-align: center;
    padding: 10px;
}



@media (min-width: 481px) {
    .encabezadoEdicion {
        padding-top: 8vh;
    }
    .editProduct {
        width: 70%;
        margin: auto;
    }
    .stylediv {
        padding: 0.6rem;
    }
}

@media (min-width: 769px) {
    .editProduct {
        width: 60%;
    }
    .button:hover{
           background-color: #DD721B;
        }
    }
