* {
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
	overflow-x: hidden;
	background-color: #F5E7D9;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* CONTENEDOR DEL MENU, EL LOGO, LA BUSQUEDA Y EL CARRITO */

.main-header {
	width: 100%;
	height: 10vh;
	background-color: #9DD274;
	padding: 2vw;
    display: flex;
	justify-content: space-between;
	align-items: stretch;
	position: fixed;
	top: 0vh;
	left: 0vw;
}

/*MENU HAMBURGUESA*/

.menu-list {
	display: block;
	width: 12vw;
	height: 6vh;
	align-self: stretch;
	text-align: center;
	margin-left: 1vw;
	margin-top: 1.5vh;
}

.icon-menu-list {
	display: block;
	width: 90%;
	color: white;
	font-size: 4.5vw;
	padding: 0.9vh;
	margin-left: 0.5vw;
	margin-top: 0.4vh;
}

/*MENU OCULTO QUE APARECE AL CLIQUEAR EL MENU HAMBURGUESA*/

.hidden-menu {
	background-color: #f5e7d9;
	opacity: 10%;
	position: fixed;
	height: 90vh;
	width: 100vw;
	right: 0vw;
	top: 10vh;
	overflow: hidden;
	visibility: hidden;
	z-index:0;
	opacity: 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.hidden-menu-list {
	display: flex;
	width: 50vw;
	height: 100vh;
	background-color: #9DD274;
	flex-direction: column;
	list-style: none;
}

.hidden-menu-list-close {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 5vh;
	text-decoration: none;
	background-color: #9DD274;
	color: white;
	font-size: 1rem;
	position: absolute;
	left: 43vw;
	border-top: 1px solid black;
}

.hidden-menu-list-item-anchor {
	width: 100%;
	display: flex;
	font-size: 0.8rem;
	text-decoration: none;
	color: white;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 0.5rem;
	border-top: 1px solid black;
}

.hidden-menu-list-item-user {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 53vh;
	border-top: black solid 1px;
	text-align: center;
}

.hidden-menu-list-item-anchor-user {
	display: flex;
	font-size: 0.8rem;
	text-decoration: none;
	color: white;
	padding: 1rem 0.5rem;
}

.icon-user {
	display: flex;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	padding: 1rem 0.5rem;
}

#menu:target {
	visibility: visible;
	opacity: 1;
	transition: all 0.6s ease-in-out;
}

/* LOGO */

.logo {
	display:block;
	width: 40vw;
	height: auto;
	align-self: center;
	text-align: center;
	margin-right: -2rem;
}

.logo img {
	max-width: 100%;
	height: auto;
	margin: auto;
}

/* BUSQUEDA Y CARRITO */

.search-cart {
	width: 18vw;
	height: 6vh;
	align-self: stretch;
	text-align: center;
	margin-right: 1vw;
	margin-top: 1.5vh;
}

/* BOTON BUSQUEDA */

.icon-search-item {
	display: inline-block;
	color: white;
	font-size: 4.5vw;
	text-align: center;
	margin-right: 1.8vw;
	margin-top: 1.2vh;
}

/* BARRA DE BUSQUEDA OCULTA */

#search {
	position: fixed;
	top: 11vh;
	right: 3.5vw;
	height: 7.3vh;
	width: 80%;
	border-radius: 3vh;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 0.25rem 0.15rem #9DD274;
}

.search {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.search-input {
	flex: 1 0 auto;
	border: none;
	outline: none;
	padding: 1rem;
	font-size: 1rem;
}
.search-button {
	width: 6vw;
	height: auto;
	padding: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #9DD274;
	color: white;
	border: 1px solid #9DD274;
}

.search-button i {
	padding: 1rem;
}

#search:target {
	opacity: 100%;
	visibility: visible;
	transition: all 0.8s ease-in-out;
}

/* NAVBAR OCULTO (APARECE EN EL MEDIA QUERY 481px) */

.navbar-mediaquery {
	display: none;
}

/* BOTON CARRITO */

.icon-cart-item {
	width: 35%;
	height: 35%;
	display: inline-block;
	color: white;
	font-size: 4.5vw;
	text-align: center;
}

/* MAIN CONTENT */

.main-content{
	padding-top: 10vh;
}

/*MENU MEDIA QUERY*/

.mediaquery-menu-list {
	display:none;
}

/* BANNER - CARROUSEL PRINCIPAL */

.banner-carrousel {
	width: 90%;
	display: block;
	margin: auto;
	padding: 0.3rem;
	margin-top: 2vh;
}

.banner-carrousel img {
	width: 100%;
	border: 1px solid #35120B;
}

/* SECCION CATEGORIAS */

.categories {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 1vh 0.3rem;
}

.categories-hidden {
	display: none;
}

.categories li {
	background-color: #35120B;
	padding: 0.2rem;
}

.categories a {
	color: white;
	text-decoration: none;
	padding: 0.8rem;
	font-size: 0.7rem;
	margin: auto;
}

/* SECCION PRODUCTOS DESTACADOS */

.best-products {
	width: 90%;
	margin: auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 0.5rem;
}

.product-article {
	display: block;
	width: 48%;
}

article img {
	width: 100%;
	border: 1px solid #35120B;
}

.product-description {
	text-align: center;
	padding: 1vh 1vw;
}

.product-name {
	color: #35120B;
	font-size: 1rem;
	padding: 0.5vh 1vw;
	text-decoration: none;
}

.product-price {
	color: #35120B;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5vh 1vw;
}

.all-products {
	display: block;
	width: 100%;
	height: 5vh;
	background-color: #35120B;
	text-align: center;
	padding: 2vh 2vw;
	margin-bottom: 2vh;
	margin-top: 1vh;
}

.all-products a {
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1vh 1vw;
	margin-top: -1.6vh;
}

.banner-carrousel-bottom {
	width: 90%;
	display: block;
	margin: auto;
	padding: 0.3rem;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.banner-carrousel-bottom img {
	width: 100%;
	border: 1px solid #35120B;
}

/*FOOTER*/

.main-footer {
	width: 100%;
	background-color: #9DD274;
	padding: 1vh 1vw;
}

.newsletter {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

.bottom-titles {
	color: #35120B;
	font-size: 0.8rem;
	width: 30vw;
	padding: 1vh 1vw;
	align-self: flex-start;
	text-align: left;
}

.form-newsletter {
	display: flex;
	width: 65vw;
	border: 1px solid #35120B;
}

.suscribe-newsletter {
	width: 60vw;
	padding: 1vh 0.5vw;
	flex: 1 0 auto;
	border: none;
	outline: none;
	font-size: 0.8rem;
	margin: auto;
}

.button-newsletter {
	width: 15vw;
	color: #35120B;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #9DD274;
	border: none;
	padding: 0.5vh 0.5vw;
	margin: auto;
	font-size: 0.9rem;
	border-left: 1px solid #35120B;
}

.button-newsletter i {
	margin-left: -0.8vw;
	padding: 0.2vw;
	font-size: 0.8rem;
}

.bottom-navbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	border-top: 1px solid #35120B;
	margin-top: 1vh;
}

.bottom-navbar-options {
	width: 65vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-self: center;
	list-style: none;
	margin: auto;
}

.bottom-navbar-options a {
	text-decoration: none;
	font-size: 0.8rem;
	color: white;
}

.navbar-list {
	padding: 0.5vw 0.5vh;
	margin-left: 20vw;
}

.contact-us {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	border-top: 1px solid #35120B;
	margin-top: 1vh;
}

.bottom-navbar-contact-us {
	width: 65vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-self: center;
	list-style: none;
	margin: auto;
	padding: 0.5vh 0.5vw;
}

.contact-ways {
	padding: 0.5vw 0.5vh;
	margin-left: 15vw;
}

.contact-ways i {
	color: #35120B;
}

.bottom-navbar-contact-us a {
	text-decoration: none;
	font-size: 0.8rem;
	color: white;
}

.social-networks {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	border-top: 1px solid #35120B;
	margin-top: 1vh;
}

.bottom-navbar-networks {
	width: 65vw;
	display: flex;
	flex-direction: row;
	align-self: center;
	list-style: none;
	margin: auto;
	padding: 0.5vh 0.5vw;
}

.bottom-networks-position {
	display: flex;
	margin-left: 13vw;
}

.social-networks-button {
	border-radius: 100%;
	padding: 0.5vw 0.5vh;
	margin-left: 2vw;
	text-align: center;
}

.social-networks-button i {
	color: #35120B;
}

.certifications {
	display: none;
}



/* VERSION TABLET */

@media (min-width: 481px) {
	.menu-list {
		display: none;
	}
	
	.logo {
		max-width: 25vw;
	}
	.icon-search-item {
		display: none;
	}

	#search {
		max-width: 35vw;
	    height: 5vh;
	    position: absolute;
	    left: 32vw;
	    top: 2.5vh;
	    border-radius: 3vh;
	    overflow: hidden;
	    visibility: visible;
	    opacity: 100%;
	    box-shadow: 0 0 0.25rem 0.15rem #9DD274;
	}
	
	.search {
		width: 100%;
	}

    .search-input {
		width: 80%;
	    padding: 0.8rem;
	    font-size: 0.8rem;
    }
    .search-button {
	    background-color: white;
	    color: #9DD274;
	    width: 10%;
	    height: 5vh;
		border: none;
		margin-left: -7.3vw;
	    padding: 1rem;
		font-size: 0.8rem;
	}

	.icon-cart-item {
		display: none;
	}

	.navbar-mediaquery {
		display: flex;
		max-width: 30vw;
		justify-content: space-between;
		align-items: center;
		padding: 0.3rem;
	}

	.icon-cart {
		color: white;
		padding: 0.2rem;
	}
		
	.user-account {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.7rem;
		color: white;
		padding: 0.2rem;
		text-align: center;
	}
		
	.sign-up {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.7rem;
		color: white;
		padding: 0.2rem;
		border-left: 1px solid #35120B;
		text-align: center;
	}

	.mediaquery-menu-list {
		display:flex;
		justify-content: center;
		list-style: none;
		padding: 0.25rem;
		background-color: #9DD274;
		position: fixed;
		width: 100%;
		height: 8vh;
		margin: auto;
	}

	.mediaquery-menu-list li {
		padding: 1rem;
	}

	.mediaquery-menu-list a {
		text-decoration: none;
		padding: 0.25rem;
		color: white;
		font-size: 0.8rem;
		text-transform: uppercase;
	}

	.mediaquery-menu-list a:hover {
		text-decoration: underline;
		transition: all 0.3s;
	}

	.main-products{
		padding-top: 8vh;
	}

	.categories {
		justify-content: space-around;
		padding: 0.5rem;
	}

	.categories a {
		font-size: 0.8rem;
	}
}

/* VERSION DESKTOP */

@media (min-width: 769px) {

	.logo {
		max-width: 16vw;
		height: auto;
	}

	.icon-cart {
		padding: 0.4rem;
	}
		
	.user-account {
		padding: 0.4rem;
	}
		
	.sign-up {
		padding: 0.4rem;
	}

	.icon-cart:hover {
		color: #DD721B;
		transition: all 0.3s;
	}

	.user-account:hover {
		text-decoration: underline;
		transition: all 0.3s;
	}

	.sign-up:hover {
		text-decoration: underline;
		transition: all 0.3s;
	}

	.product-article {
		display: block;
		width: 24%;
	}

	.categories-hidden {
		display: inline;
	}

	.categories li:hover {
		background-color: #DD721B;
		transition: all 0.3s;
	}

	.all-products:hover {
		background-color: #DD721B;
		transition: all 0.3s;
	}

		/* FOOTER */

		.footer-mediaquery {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 100%;
		}
	
		.newsletter {
			max-width: 18vw;
			display: flex;
			flex-direction: column;
			height: auto;
			margin: none;
		}
		
		.bottom-titles {
			color: #35120B;
			font-size: 0.8rem;
			width: 15vw;
			padding: 0.5rem;
			align-self: center;
			text-align: center;
		}
		
		.form-newsletter {
			display: flex;
			width: 18vw;
		}
		
		.suscribe-newsletter {
			width: 15vw;
		}
		
		.button-newsletter {
			width: 3vw;
			padding: 0.1rem;
		}
		
		.bottom-navbar {
			max-width: 18vw;
			height: auto;
			display: flex;
			flex-direction: column;
			border-top: none;
			margin: none;
			margin-top: 0vh;
		}
		
		.bottom-navbar-options {
			width: 15vw;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			text-align: center;
			list-style: none;
			margin: none;
		}
		
		.bottom-navbar-options a {
			text-decoration: none;
			font-size: 0.8rem;
			color: white;
		}
		
		.navbar-list {
			padding: 0.5vw 0.5vh;
			margin-left: 0vw;
		}
		
		.contact-us {
			max-width: 18vw;
			display: flex;
			flex-direction: column;
			border-top: none;
			height: auto;
			margin: none;
			margin-top: 0vh;
		}
		
		.bottom-navbar-contact-us {
			width: 15vw;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			text-align: center;
			list-style: none;
			margin: none;
			padding: 0.5vh 0.5vw;
		}
		
		.contact-ways {
			padding: 0.5vw 0.5vh;
			margin-left: 0vw;
		}
		
		.contact-ways i {
			color: #35120B;
		}
		
		.bottom-navbar-contact-us a {
			text-decoration: none;
			font-size: 0.8rem;
			color: white;
		}
		
		.social-networks {
			max-width: 18vw;
			max-height: auto;
			display: flex;
			flex-direction: column;
			align-content: center;
			margin-top: 0vh;
			text-align: center;
			border-top: none;
		}
		
		.bottom-navbar-networks {
			width: 15vw;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			text-align: center;
			list-style: none;
			margin: none;
			padding: 0.5vh 0.5vw;
		}
		
		.bottom-networks-position {
			display: flex;
			margin-left: 0vw;
		}
		
		.social-networks-button {
			border-radius: 100%;
			padding: 0.5vw 0.5vh;
			margin-left: 0.2vw;
			text-align: center;
		}
		
		.social-networks-button i {
			color: #35120B;
		}
		
		.certifications {
			max-width: 18vw;
			max-height: auto;
			display: flex;
			flex-direction: column;
			align-content: center;
			border-top: none;
			text-align: center;
		}
	
		.certifications img {
			width: 25%;
			height: auto;
			margin: auto;
			padding: 0.5vw 0.5vh;
		}

		.bottom-navbar-options a:hover {
			text-decoration: underline;
			transition: all 0.3s;
		}

		.social-networks-button i:hover {
			color: #DD721B;
			transition: all 0.3s;
		}

}