body{
    background-color: #F5E7D9;
}

.main-newproduct {
    padding-top: 10vh;
}

/*ESTILO CAMPOS DEL FORMULARIO*/


.formularioproducto{
    padding: 20px;
    margin: auto;
}

.stylediv{
    padding-bottom: 15px;
}

.stylediv label{
    padding-bottom: 0.3rem;
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    color: #35120B;
}

.stylediv option {
    background-color: #f5e7d9;
    border: #35120B;
    font-size: 0.8rem;
}

.stylediv select {
    font-size: 0.9rem;
    padding: 0.3rem 0rem;
    border: 1px solid #35120B;
    background-color: white;
}

.camp{
    width: 100%;
    padding: 10px 10px ;
}

.danger-error {
    display: none
}

.input-i {
    position: relative;
    z-index: 0;
}

.fire {
        position: absolute;
        right: 1.5rem;
        bottom: 3.1rem;
        z-index: 100;
        font-size: 1.2rem;
        opacity: 0;
}

.tree {
    position: absolute;
    right: 1.5rem;
    bottom: 0.8rem;
    z-index: 100;
    font-size: 1.2rem;
    opacity: 0;
}

.alert-danger .camp {
    border: 2px solid #bb2929;
}

.alert-danger .camp label{
    color: #bb2929
    
}

.alert-danger .fire {
    color: #bb2929;
    opacity: 1;
}

.alert-danger .danger-error {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    color:#35120B;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
}

.is-valid .camp {
    border: 2px solid #9DD274;
}

.is-valid .camp label{
    color: #9DD274
    
}

.is-valid .tree{
    color: #9DD274;
    opacity: 1;
}

/*FORMATO ENCABEZADO*/

.encabezadoregistro{
    margin: auto 0;
}

.encabezado{
    text-align: center;
    font-family: 'Poppins';
    color: #35120B;
}

/*ESTILO BOTON*/

.button{
    border:none;
    background-color: #35120B;
    font-size: 20px;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
   }

.center{
    text-align: center;
    padding: 10px;
}

.error {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    color:#35120B;
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 481px) {
    .encabezadonewproduct {
        padding-top: 8vh;
    }
    .newProduct {
        width: 70%;
        margin: auto;
    }
    .stylediv {
        padding: 0.6rem;
    }
}

@media (min-width: 769px) {
    .newProduct {
        width: 60%;
    }
    .button:hover{
           background-color: #DD721B;
        }
        .fire {
            bottom: 2.4rem
        }
        .error {
            font-size: 1rem;
        }
        .alert-danger .danger-error {
            font-size: 1rem;
        }
    }
