/*BODY*/

body {
    background-color: #F5E7D9;
}

/*ESTILO DEL MAIN*/

.main-userprofile {
    padding-top: 10vh;
}

/*NOMBRE DE USUARIO*/

.user-profilename {
    text-align: center;
    padding: 1rem;
    font-style: italic;
    display: block;
    color: #35120B;
    width: 100%;
    border-bottom: 0.5px dotted #35120B
}

.total {
    display: flex;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
}

.total-box {
    width: 100%;
    padding: 1rem;
    border-bottom: 0.5px dotted #35120B 
}

.title-total-box {
    text-align: center;
    padding: 0.5rem;
    color: #35120B;
}

.title-total-box i {
    margin-right: 0.5rem;
    color: #35120B;
}

.user-avatar {
    text-align: center;
    padding: 0.3rem;
}

.user-avatar img {
    width: 60%;
    height: auto;
    margin: auto;
}

/*TEXTOS CON INFORMACIÓN DEL PERFIL DEL USUARIO*/

.profile-text {
    max-width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
    display: block;
    color: #35120B;
}

.profile-text a {
        text-decoration: underline;
        font-size: 0.8rem;
        font-style: italic;
        display: block;
        color: #35120B;
}

/*BOTONES*/

.buttons {
    display: flex;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons form {
    margin-left: 0.7rem;
}

.button-profile {
    border: none;
    background-color: #35120B;
    color: #fff;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button-profile a {
    font-size: 1rem;
    text-decoration: none;
}


/*MEDIA QUERY*/

@media (min-width: 481px) {
    .user-profilename {
        padding-top: 10vh;
    }
    .total {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .total-box {
        width: 45%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .user-avatar img {
        width: 30%;
    }

    .user-profilename {
        font-size: 1.5rem;
    }
    
    .details {
        padding-top: 0.5rem;
    }

    .profile-text {
        font-size: 1rem;
    }

    .profile-text a {
        font-size: 1rem;
    }

    .button-profile:hover {
        background-color: #DD721B;
    }
}