
body{
    background-color: #F5E7D9;
    height: 100vmin;
    margin: auto;

}

.pie{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.main-login {
    padding-top: 10vh;
}



/*ESTILO CAMPOS DEL FORMULARIO*/

.formulariologin{
    padding: 20px;
    margin: auto 0;
}

.estilodivlogin{
    padding-bottom: 15px;
}

.estilodivlogin label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    color: #35120B;
}

.formatocampo{
    width: 100%;
    padding: 10px 10px ;
    
}


/*ESTILO DEL ENCABEZADO*/

.encabezadologin{
    margin: auto 0;
}

.titulologin{
    text-align: center;
    font-family: 'Poppins';
    color: #35120B;
    
}

/*ESTILOS DE BOTONES + FUNCIÓN CAMBIAR COLOR*/

.button{
 border:none;
 background-color: #35120B;
 font-size: 20px;
 color:#fff;
 padding: 5px 10px;
 border-radius: 5px;
 text-align: center;
 
}

.remember-me {
    padding: 0.25rem;
}

.remember-me label {
    color: #35120B;
}

.remember-me i {
    color: #35120B;
}

.center{
    text-align: center;
    padding: 10px;
}

.olvidemicontraseña{
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.olvidemicontraseña a {
    text-decoration: none;
    color: #35120B;
    font-size: 0.9rem;
}

.crearcuenta{
    text-align: center;
    padding: 10px 10px 0px 10px;
}

.crearcuenta a {
    text-decoration: none;
    color: #35120B;
    font-size: 0.9rem;
}

@media (min-width: 481px) {
    .encabezadologin {
        padding-top: 8vh;
    }
}

@media (min-width: 769px) {

    .button:hover{
           background-color: #DD721B;
        }

        .crearcuenta a:hover {
            color: #DD721B;
        }
    
        .olvidemicontraseña a:hover {
            color: #DD721B;
        }
    }


