.main-productList {
    padding-top: 10vh;
}

.header-filter {
    width: 100%;
    padding: 1rem;
}

.header-list {
    padding: 0rem 0rem 1rem 0rem;
    font-size: 1rem;
}

.order-filter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 0.5rem;
}

.order {
    padding: 0.5rem;
    font-size: 0.8rem;
}

.order option {
    background-color: #f5e7d9;
    border: #35120B;
    font-size: 0.8rem;
}

.order select {
    font-size: 0.9rem;
    padding: 0.3rem 0rem;
    border: 1px solid #35120B;
    background-color: white;
}

.filter {
    padding: 0.5rem;
    font-size: 0.8rem;
}

.filter option {
    background-color: #f5e7d9;
    border: #35120B;
    font-size: 0.8rem;
}

.filter select {
    font-size: 0.9rem;
    padding: 0.3rem 0rem;
    border: 1px solid #35120B;
    background-color: white;
}

.list-products {
        width: 90%;
        margin: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
}


@media (min-width: 481px) {
    .header-filter {
        padding-top: 10vh;
    }

    .header-list {
        font-size: 1.2rem;
    }

    .order-filter {
        justify-content: flex-end;
        width: 100%;
        padding-right: 1rem;
    }
}