body{
    background-color: #F5E7D9;
}

.main-register {
    padding-top: 10vh;
}

/*ESTILO CAMPOS DEL FORMULARIO*/

.formularioregistro{
    padding: 20px;
    margin: auto;
}

.estilodiv{
    padding-bottom: 15px;
}

.estilodiv label{
    padding-bottom: 0.3rem;
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    color: #35120B;
}

.formatocampo{
    width: 100%;
    padding: 10px 10px;
    border: 3px solid transparent;
}

.input-i {
    position: relative;
}

.fire {
        position: absolute;
        right: 1.5rem;
        bottom: 0.8rem;
        z-index: 100;
        font-size: 1.2rem;
        opacity: 0;
}

.tree {
    position: absolute;
    right: 1.5rem;
    bottom: 0.8rem;
    z-index: 100;
    font-size: 1.2rem;
    opacity: 0;
}

.alert-danger .formatocampo{
    border: 2px solid #bb2929;
}

.alert-danger .formatocampo label{
    color: #bb2929
    
}

.alert-danger .fire {
    color: #bb2929;
    opacity: 1;
}

.is-valid .tree{
    color: #9DD274;
    opacity: 1;
}

/*FORMATO ENCABEZADO*/

.encabezadoregistro{
    margin: auto 0;
}

.encabezado{
    text-align: center;
    font-family: 'Poppins';
    color: #35120B;
}

/*ESTILO BOTON*/

.button{
 border:none;
 background-color: #35120B;
 font-size: 20px;
 color:#fff;
 padding: 5px 10px;
 border-radius: 5px;
 text-align: center;
}

.center{
    text-align: center;
    padding: 10px;
}

.iniciarsesion {
    text-align: center;
    padding: 5px 10px 20px 10px;
}

.iniciarsesion a {
    text-decoration: none;
    color: #35120B;
    font-size: 0.9rem;
}

.terms-newsletter {
    padding: 0.5rem;
}

.terms {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #35120B;
}

.terms a {
    text-decoration: none;
    color: #9DD274;
    text-decoration: underline;
}

.newsletter {
    padding: none;
}

/*ERRORES*/

.error {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    color: rgb(11, 68, 11)
}

@media (min-width: 481px) {
    .encabezadoregistro {
        padding-top: 8vh;
    }
    .registro {
        width: 70%;
        margin: auto;
    }
    .estilodiv {
        padding: 0.6rem;
    }
}

@media (min-width: 769px) {
    .registro {
        width: 60%;
    }
    .button:hover{
           background-color: #DD721B;
        }
        .terms a:hover {
            color: #35120B;
            transition: 0.3s all;
        }
        .error {
            font-size: 1rem;
        }
        .formatocampo:focus{
            border: 2px solid #35120B;
            outline: none;
        }
    }