* {
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* CONTENEDOR DEL MENU, EL LOGO, LA BUSQUEDA Y EL CARRITO */

.main-header {
	height: 10vh;
	background-color: #9DD274;
	padding: 2vw;
    width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
}

/*MENU HAMBURGUESA*/

.menu-list {
	display: block;
	width: 12vw;
	height: 6vh;
	align-self: stretch;
	text-align: center;
	margin-left: 1vw;
	margin-top: 1vh;
}

.icon-menu-list {
	display: block;
	width: 90%;
	color: white;
	font-size: 4.5vw;
	padding: 0.9vh;
	margin-left: 0.5vw;
	margin-top: 0.4vh;
}

/*MENU OCULTO QUE APARECE AL CLIQUEAR EL MENU HAMBURGUESA*/

.hidden-menu {
	background-color: #f5e7d9;
	opacity: 10%;
	position: fixed;
	height: 90vh;
	width: 100vw;
	right: 0vw;
	top: 10vh;
	overflow: hidden;
	visibility: hidden;
	z-index:0;
	opacity: 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.hidden-menu-list {
	display: flex;
	width: 50vw;
	height: 100vh;
	background-color: #9DD274;
	flex-direction: column;
	list-style: none;
}

.hidden-menu-list-close {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 5vh;
	text-decoration: none;
	background-color: #9DD274;
	color: white;
	font-size: 1rem;
	position: absolute;
	left: 43vw;
	border-top: 1px solid black;
}

.hidden-menu-list-item-anchor {
	width: 100%;
	display: flex;
	font-size: 0.8rem;
	text-decoration: none;
	color: white;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 0.5rem;
	border-top: 1px solid black;
}

.hidden-menu-list-item-user {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50vh;
	border-top: black solid 1px;
	text-align: center;
}

.hidden-menu-list-item-anchor-user {
	display: flex;
	font-size: 0.8rem;
	text-decoration: none;
	color: white;
	padding: 1rem 0.5rem;
}

.icon-user {
	display: flex;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	padding: 1rem 0.5rem;
}

#menu:target {
	visibility: visible;
	opacity: 1;
	transition: all 0.6s ease-in-out;
}

/* LOGO */

.logo {
	display:block;
	width: 48vw;
	height: 8vh;
	align-self: stretch;
	text-align: center;
	margin-left: 3vw;
	margin-top: -0.6vh;
}

.logo img {
	width: 95%;
	height: 95%;
	margin: auto;
}

/* BUSQUEDA Y CARRITO */

.search-cart {
	width: 18vw;
	height: 6vh;
	align-self: stretch;
	text-align: center;
	margin-right: 1vw;
	margin-top: 1vh;
}

/* BOTON BUSQUEDA */

.icon-search-item {
	display: inline-block;
	color: white;
	font-size: 4.5vw;
	text-align: center;
	margin-right: 1.8vw;
	margin-top: 1.2vh;
}

/* BARRA DE BUSQUEDA OCULTA */

#search {
	position: fixed;
	bottom: 91.5vh;
	right: -1.6vw;
	height: 7.3vh;
	width: 80%;
	border-radius: 3vh;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 0.25rem 0.15rem #9DD274;
}

.search {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.search-input {
	flex: 1 0 auto;
	border: none;
	outline: none;
	padding: 1rem;
	font-size: 1rem;
}
.search-button {
	width: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #9DD274;
	color: white;
	border-radius: 50%;
	margin-right: 4vw;
	border: 1px solid #9DD274;
}

#search:target {
	opacity: 100%;
	visibility: visible;
	transition: all 0.8s ease-in-out;
}

/* BOTON CARRITO */

.icon-cart-item {
	width: 35%;
	height: 35%;
	display: inline-block;
	color: white;
	font-size: 4.5vw;
	text-align: center;

}

/* SECCION CATEGORIAS */

.categories {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	padding: 2vh 1vw;
}

.categories li {
	font-size: 1rem;
	background-color: grey;
}

.categories a {
	color: white;
	text-decoration: none;
	padding: 2px;
}

/* SECCION PRODUCTOS DESTACADOS */

.best-products {
	width: 90%;
	margin: auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-article {
	display: block;
	width: 48%;
}

article img {
	width: 100%;
}

.product-description {
	text-align: center;
	padding: 1vh 1vw;
}

.product-name {
	color: black;
	font-size: 1rem;
	padding: 0.5vh 1vw;
	text-decoration: none;
}

.product-price {
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5vh 1vw;
}

.all-products {
	display: block;
	width: 100%;
	height: 5vh;
	background-color: black;
	text-align: center;
	padding: 2vh 2vw;
	margin-bottom: 2vh;
}

.all-products a {
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1vh 1vw;
	margin-top: -1.6vh;
}

/*FOOTER*/

.main-footer {
	width: 100%;
	background-color: #9DD274;
	padding: 1vh 1vw;
}

.certifications {
	display: none;
}



/* VERSION TABLET */

@media (min-width: 481px) {

}

/* VERSION DESKTOP */

@media (min-width: 769px) {

}