<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-404.css">
<body>
    <img class ="error" src="img/error404" alt="">
</body>

</html>
