<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs")%>

    <main class="main-content">

        <!--MENU PARA MEDIA QUERY-->
        <section>
            <ul class="mediaquery-menu-list">
                <li class="mediaquery-menu-list-item">
                    <a href="/" class="mediaquery-menu-list-item-anchor">Inicio</a>
                </li>
                <li class="mediaquery-menu-list-item">
                    <a href="/products" class="mediaquery-menu-list-item-anchor">Productos</a>
                </li>
                <li class="mediaquery-menu-list-item">
                    <a href="/cart" class="mediaquery-menu-list-item-anchor">Carrito</a>
                </li>
                <li class="mediaquery-menu-list-item">
                    <a href="/products" class="mediaquery-menu-list-item-anchor">¡Sale!</a>
                </li>               
            </ul>
        </section>

        <!-- BANNER (FUTURO CARROUSEL)-->
        <div class="main-products">
            <figure class="banner-carrousel">
                <img src="img/banner-galeria.gif" alt="banner-principal">
            </figure>

            <!--CATEGORIAS DE PRODUCTOS-->
            <section>
                <ul class="categories">
                    <li>
                        <a href="/products">CUIDADO CAPILAR</a>
                    </li>
                    <li>
                        <a href="/products">ROSTRO Y CUERPO</a>
                    </li>
                    <li>
                        <a href="/products">COMBOS</a>
                    </li>
                    <li class="categories-hidden">
                        <a href="/products">REGALOS</a>
                    </li>
                    <li class="categories-hidden">
                        <a href="/products">¡SALE!</a>
                    </li>
                </ul>
            </section>

            <!--PRODUCTOS DESTACADOS-->
            <section class="best-products">
                <article class="product-article">
                    <a href="/products"> <img src="img/bl1.jpg" alt="Balsamo labial cacao"></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">BÁLSAMO LABIAL DE CACAO</a>
                        <p class="product-price">$170</p>
                    </div>
                </article>
                <article class="product-article">
                    <a href="/products"><img src="img/exf1.jpg" alt="Exfoliante Cafe y Azuzar"></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">EXFOLIANTE FACIAL DE CAFÉ Y AZÚCAR</a>
                        <p class="product-price">$320</p>
                    </div>
                </article>
                <article class="product-article">
                    <a href="/products"><img src="img/j1.jpg" alt="Jabon rosa mosqueta"></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">JABÓN CORPORAL DE ROSA MOSQUETA</a>
                        <p class="product-price">$210</p>
                    </div>
                </article>
                <article class="product-article">
                    <a href="/products"><img src="img/ss1.jpg" alt="Shampoo solido ortiga romero"></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">SHAMPOO SÓLIDO FORTALECEDOR DE ORTIGA Y ROMERO</a>
                        <p class="product-price">$400</p>
                    </div>
                </article>
                <article class="product-article">
                    <a href="/products"><img src="img/bl2.jpg" alt="Balsamo labial cafe"></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">BÁLSAMO LABIAL DE CAFÉ</a>
                        <p class="product-price">$180</p>
                    </div>
                </article>
                <article class="product-article">
                    <a href="/products"><img src="img/exf2.jpg" alt="exfoliante corporal limon romero"></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">EXFOLIANTE CORPORAL DE LIMÓN Y ROMERO</a>
                        <p class="product-price">$290</p>
                    </div>
                </article>
                <article class="product-article">
                    <a href="/products"><img src="img/j4.jpg" alt="Jabon detox oliva y carbon "></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">JABÓN DETOX DE OLIVA Y CARBÓN</a>
                        <p class="product-price">$230</p>
                    </div>
                </article>
                <article class="product-article">
                    <a href="/products"><img src="img/ss3.jpg" alt="Shampoo solido reparador karite"></a>
                    <div class="product-description">
                        <a href="/products" class="product-name">SHAMPOO SÓLIDO REPARADOR KARITÉ</a>
                        <p class="product-price">$210</p>
                    </div>
                </article>
                <div class="all-products">
                    <a href="/products">VER TODOS LOS PRODUCTOS</a>
                </div>
            </section>

            <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
            <figure class="banner-carrousel-bottom">
                <img src="img/banner-bottom.gif" alt="banner-bottom">
            </figure>

    </main>

    <%- include("../partials/footer.ejs")%>

</body>

</html>