<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-404.css">
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <img class ="error" src="../../../img/error404.png" alt="Ops, algo salió mal!">
</body>

</html>
