<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhoomi - Cosmetica Natural</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <header class = "main-header">
        <!-- MENU DE NAVEGACION -->
        <nav class ="menu-list">
            <a href="#menu" class="icon-menu-list" id="btn-menu">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
        <!-- BARRA OCULTA DEL MENU DE NAVEGACION-->
        <nav class="hidden-menu-list" id="menu">
            <!-- CRUZ DE CIERRE -->
            <a href="#" class="hidden-menu-list-close">
                <i class="fas fa-times"></i>
            </a>
            <!-- LINKS A PAGINAS -->
            <ul class="hidden-menu-list">
                <li class="hidden-menu-list-item">
                    <a href="#" class="hidden-menu-list-item-anchor">Link 1</a>
                </li>
                <li class="hidden-menu-list-item">
                    <a href="#" class="hidden-menu-list-item-anchor">Link 2</a>
                </li>
                <li class="hidden-menu-list-item">
                    <a href="#" class="hidden-menu-list-item-anchor">Link 3</a>
                </li>
                <li class="hidden-menu-list-item">
                    <a href="#" class="hidden-menu-list-item-anchor">Link 4</a>
                </li class="hidden-menu-list-item">
            </ul>
        </nav>

        <!-- LOGO -->
        <figure>
            <img src="" alt="Logo Bhoomi">
        </figure>

        <!-- BARRA DE BUSQUEDA Y CARRITO -->
        <nav>
            <a href="#search" class="icon-search-item" id="btn-search">
                <i class="fas fa-search"></i>
            </a>

            <form action="#" id= "search" autocomplete = "off" method="GET">
                <label for="keyword">
                    <input type="text" name="keyword" id="keyword" placeholder="Buscar..." >
                    <a href="#btn-search">
                        <i class="fas fa-search"></i>
                    </a>
                </label>
                 </form>

            <a href="/cart"> <i class="fas fa-shopping-cart"></i> </a>
        </nav>
    </header>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>