<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
</head>
<body>
<!--HEADER-->
    <header>
<!--BARRA DE NAVEGACIÓN-->
    </header>

<!--IMÁGENES PRODUCTO Y DESCRIPCIÓN-->
<div class="product-and-description">
    <div class="product-image">
        <img src=>
    </div>
    <div class="product-name">
        <p>Shampoo sólido</p>
    </div>
    <div class="product-description">
        <p>

        </p>
    </div>

</div>
</body>
</html>