 <!--FOOTER-->
 <footer class="main-footer">

    <!--Suscribite a nuestro newsletter-->
    <div class="footer-mediaquery">
        <section class="newsletter">
            <p class="bottom-titles">Newsletter</p>
            <form action="#" id="email-newsletter" autocomplete="off" method="GET" class="form-newsletter">
                <input type="email" name="email-news" id="email-news" placeholder="Dejanos tu email"
                    class="suscribe-newsletter" required>
                <button type="submit" class="button-newsletter">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </form>
        </section>

        <!--Barra de navegación del footer -->
        <section class="bottom-navbar">
            <p class="bottom-titles">Navegación</p>
            <nav>
                <ul class="bottom-navbar-options">
                    <li class="navbar-list"><a href="/">Inicio</a></li>
                    <li class="navbar-list"><a href="/productos">Productos</a></li>
                    <li class="navbar-list"><a href="/carrito">Carrito</a></li>
                    <!--<li class="navbar-list"><a href="/about-us">Quiénes somos</a></li>-->
                </ul>
            </nav>
        </section>

        <!--Contactanos-->
        <section class="contact-us">
            <p class="bottom-titles">Contactanos</p>
            <nav>
                <ul class="bottom-navbar-contact-us">
                    <li class="contact-ways"><i class="fab fa-whatsapp"></i> <a href="#">+54 11 1234 1234</a></li>
                    <li class="contact-ways"><i class="fas fa-envelope"></i> <a href="#">info@bhoomi.com.ar</a></li>
                    <li class="contact-ways"><i class="fas fa-store"></i> <a href="#">Neuquén 546 - CABA</a></li>
                </ul>
            </nav>
        </section>

        <!--Redes sociales-->
        <section class="social-networks">
            <p class="bottom-titles">Redes sociales</p>
            <nav>
                <ul class="bottom-navbar-networks">
                    <div class="bottom-networks-position">
                        <li class="social-networks-button"><a href="https://www.instagram.com/"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li class="social-networks-button"><a href="https://www.facebook.com/"><i
                                    class="fab fa-facebook"></i></a></li>
                        <li class="social-networks-button"><a href="https://twitter.com/"><i
                                    class="fab fa-twitter"></i></a></li>
                    </div>
                </ul>
            </nav>
        </section>

        <!--Certificaciones-->
        <section class="certifications">
            <p class="bottom-titles">Certificaciones</p>
            <nav>
                <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="Logo de AFIP"
                    class="certification-logo">
            </nav>
        </section>
    </div>
</footer>