<header class="main-header">
    <!-- MENU DE NAVEGACION -->
    <nav class="menu-list">
        <a href="#menu" class="icon-menu-list" id="btn-menu">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <!-- BARRA OCULTA DEL MENU DE NAVEGACION-->
    <nav class="hidden-menu" id="menu">
        <!-- CRUZ DE CIERRE -->
        <a href="#" class="hidden-menu-list-close">
            <i class="fas fa-times"></i>
        </a>
        <!-- LINKS A PAGINAS -->
        <% if (locals.isLogged && locals.userLogged.category == "admin") { %>
        <ul class="hidden-menu-list">
            <li class="hidden-menu-list-item">
                <a href="/" class="hidden-menu-list-item-anchor">Inicio</a>
            </li>
            <li class="hidden-menu-list-item">
                <a href="/administrador" class="hidden-menu-list-item-anchor">Administrar Productos</a>
            </li>
            <li class="hidden-menu-list-item">
                <a href="/administrador" class="hidden-menu-list-item-anchor">Administrar Usuarios</a>
            </li>
            <% } else { %>
            <ul class="hidden-menu-list">
            <li class="hidden-menu-list-item">
                <a href="/" class="hidden-menu-list-item-anchor">Inicio</a>
            </li>
            <li class="hidden-menu-list-item">
                <a href="/productos" class="hidden-menu-list-item-anchor">Productos</a>
            </li>
            <li class="hidden-menu-list-item">
                <a href="/carrito" class="hidden-menu-list-item-anchor">Carrito</a>
            </li>
            <% } %>
            <li class="hidden-menu-list-item-user">
                <% if (locals.isLogged) { %>
                    <figure class="icon-user"><i class="fas fa-user-circle"></i></figure>
                    <a href="/usuarios/perfil" class="hidden-menu-list-item-anchor-user">¡Hola!
                        <%= locals.userLogged.first_name %></a>
                    <a href="/usuarios/cerrarsesion" class="hidden-menu-list-item-anchor-user">Cerrar Sesión</a> 
                <% } else { %>
                    <figure class="icon-user"><i class="fas fa-user-circle"></i></figure>
                    <a href="/usuarios/registro" class="hidden-menu-list-item-anchor-user">Crear Cuenta</a>
                    <a href="/usuarios/ingresar" class="hidden-menu-list-item-anchor-user">Iniciar Sesión</a> 
                <% } %>
            </li>
        </ul>
    </nav>

    <!-- LOGO -->
    <figure class="logo">
        <a href="/"><img src="../../img/bhoomi-logo-3.png" alt="Logo Bhoomi"></a>
    </figure>

    <!-- BARRA DE BUSQUEDA Y CARRITO -->
    <nav class="search-cart">
        <a href="#search" class="icon-search-item" id="btn-search">
            <i class="fas fa-search"></i>
        </a>

        <!-- BARRA DE BUSQUEDA OCULTA-->
        <form action="#" id="search" autocomplete="off" method="GET">
            <label class="search" for="keyword">
                <input class="search-input" type="text" name="keyword" id="keyword" placeholder="Buscar...">
                <a href="#btn-search" class="search-button">
                    <i class="fas fa-search"></i>
                </a>
            </label>
        </form>

        <a href="/carrito" class="icon-cart-item"> <i class="fas fa-shopping-cart"></i> </a>
    </nav>
    <nav class="navbar-mediaquery">
        <% if (locals.isLogged) { %>
            <a href="/usuarios/perfil" class="user-account">¡Hola! <%= locals.userLogged.first_name %></a>
            <a href="/usuarios/cerrarsesion" class="sign-up">Cerrar Sesión</a>
            <a href="/carrito" class="icon-cart"> <i class="fas fa-shopping-cart"></i> </a>

        <% } else { %>
            <a href="/usuarios/registro" class="user-account">Crear Cuenta</a>
            <a href="/usuarios/ingresar" class="sign-up">Iniciar Sesión</a>
            <a href="/carrito" class="icon-cart"> <i class="fas fa-shopping-cart"></i> </a>
        <% } %>
    </nav>
</header>