<header class="main-header">
    <!-- MENU DE NAVEGACION -->
    <nav class="menu-list">
        <a href="#menu" class="icon-menu-list" id="btn-menu">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <!-- BARRA OCULTA DEL MENU DE NAVEGACION-->
    <nav class="hidden-menu" id="menu">
        <!-- CRUZ DE CIERRE -->
        <a href="#" class="hidden-menu-list-close">
            <i class="fas fa-times"></i>
        </a>
        <!-- LINKS A PAGINAS -->
        <ul class="hidden-menu-list">
            <li class="hidden-menu-list-item">
                <a href="/" class="hidden-menu-list-item-anchor">Inicio</a>
            </li>
            <li class="hidden-menu-list-item">
                <a href="/products" class="hidden-menu-list-item-anchor">Productos</a>
            </li>
            <li class="hidden-menu-list-item">
                <a href="/cart" class="hidden-menu-list-item-anchor">Carrito</a>
            </li>
            <li class="hidden-menu-list-item">
                <a href="/newProduct" class="hidden-menu-list-item-anchor">Vender</a>
            </li>
            <li class="hidden-menu-list-item-user">
                <figure class="icon-user"><i class="fas fa-user-circle"></i></figure>
                <a href="/register" class="hidden-menu-list-item-anchor-user">Crear Cuenta</a>
                <a href="/login" class="hidden-menu-list-item-anchor-user">Iniciar Sesión</a>    
            </li>
        </ul>
    </nav>

    <!-- LOGO -->
    <figure class="logo">
        <a href="/"><img src="img/bhoomi-logo-3.png" alt="Logo Bhoomi"></a>
    </figure>

    <!-- BARRA DE BUSQUEDA Y CARRITO -->
    <nav class="search-cart">
        <a href="#search" class="icon-search-item" id="btn-search">
            <i class="fas fa-search"></i>
        </a>

        <!-- BARRA DE BUSQUEDA OCULTA-->
        <form action="#" id="search" autocomplete="off" method="GET">
            <label class="search" for="keyword">
                <input class="search-input" type="text" name="keyword" id="keyword" placeholder="Buscar...">
                <a href="#btn-search" class="search-button">
                    <i class="fas fa-search"></i>
                </a>
            </label>
        </form>

        <a href="/cart" class="icon-cart-item"> <i class="fas fa-shopping-cart"></i> </a>
    </nav>
    <nav class="navbar-mediaquery">
        <a href="/register" class="user-account">Crear Cuenta</a>
        <a href="/login" class="sign-up">Iniciar Sesión</a>
        <a href="/cart" class="icon-cart"> <i class="fas fa-shopping-cart"></i> </a>
        <a href="/newProduct" class="icon-cart" ><i class="fas fa-cart-plus"></i></a>
    </nav>
</header>