                <!--MENU PARA MEDIA QUERY-->
                <section>
                    <ul class="mediaquery-menu-list">
                        <li class="mediaquery-menu-list-item">
                            <a href="/" class="mediaquery-menu-list-item-anchor">Inicio</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/products" class="mediaquery-menu-list-item-anchor">Productos</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/cart" class="mediaquery-menu-list-item-anchor">Carrito</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/newProduct" class="mediaquery-menu-list-item-anchor">Vender</a>
                        </li>
                    </ul>
                </section>
