                <!--MENU PARA MEDIA QUERY-->
                <section>
                    <ul class="mediaquery-menu-list">
                        <% if (locals.userLogged && locals.userLogged.roleId === 1) { %>
                        <li class="mediaquery-menu-list-item">
                            <a href="/administrador" class="mediaquery-menu-list-item-anchor">Administrar Productos</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/administrador" class="mediaquery-menu-list-item-anchor">Administrar Usuarios</a>
                        </li>
                        <% } else { %>
                        <li class="mediaquery-menu-list-item">
                            <a href="/" class="mediaquery-menu-list-item-anchor">Inicio</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/productos" class="mediaquery-menu-list-item-anchor">Productos</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/carrito" class="mediaquery-menu-list-item-anchor">Carrito</a>
                        </li>
                        <% } %>
                    </ul>
                </section>
