<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-newProduct.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!-- FORMULARIO NUEVO PRODUCTO -->
    <main class="main-newproduct">

        <%- include("../partials/menuMediaQuery.ejs")%>
    
        <section class="encabezadonewproduct">
            <h1 class="encabezado">¿Qué vas a vender?</h1>
        </section>
        <section class="newProduct">
            <form class="formularioproducto" action="/administrador/crearproducto" method="POST" enctype="multipart/form-data">
                <div class="stylediv">
                    <strong><label for="name">Nombre del producto</label></strong>
                    <input type="text" id="name" name="name" placeholder="Nombre del Producto" class="camp" required>
                </div>
                <div class="stylediv">
                    <strong><label for="description">Descripción del Producto</label></strong>
                    <textarea name="description" class="camp" required> </textarea>
                    
                </div>
                <div class="stylediv">
                    <strong><label for="imagen">Imagen del Producto</label></strong>
                    <input class="camp" type="file" id="imagen" name="imagen" accept=".jpg" required>
                     
                </div>
             
                <div class="stylediv">
                    <strong><label for="category">Categoría</label></strong>
                    <select name="category" required>
                        <option value="#" selected disabled>Seleccione una opcion...</option>
                        <option value="1">Cuidado Capilar</option>
                        <option value="2">Rostro y Cuerpo</option>
                        <option value="3">Combos</option>
                        <option value="4">Regalos</option>
                        <option value="5">Sale</option>
                    </select>    

                </div>

                <div class="stylediv">
                    <strong><label for="quantity">Stock</label></strong>
                    <input type="number" id="quantity" name="quantity" placeholder="Cantidad en Stock" class="camp" required>

                </div>
                             
                <div class="stylediv">
                    <strong><label for="price">Precio</label></strong>
                    <input type="number" id="price" name="price" placeholder="$" class="camp" required>
                </div>

                <div class="stylediv center">
                    <input type="reset" value="Borrar" class="button">
                    <input type="submit" value="Crear Producto" class="button"> 

                </div>


            </form>
            
        </section>
        
    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>

</html>