<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-productCart.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!--CARRITO CON PRODUCTOS-->
    <main class="main-cart">
                <!--MENU PARA MEDIA QUERY-->
                <section>
                    <ul class="mediaquery-menu-list">
                        <li class="mediaquery-menu-list-item">
                            <a href="/" class="mediaquery-menu-list-item-anchor">Inicio</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/products" class="mediaquery-menu-list-item-anchor">Productos</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/cart" class="mediaquery-menu-list-item-anchor">Carrito</a>
                        </li>
                        <li class="mediaquery-menu-list-item">
                            <a href="/products" class="mediaquery-menu-list-item-anchor">¡Sale!</a>
                        </li>
                    </ul>
                </section>

        <div class="encabezadocarrito">
            <h1>Carrito de compras</h1>
        </div>
        <hr>
        <div class="top-carrito">
            <div class="producto">PRODUCTO</div>
            <div class="subtotal">SUBTOTAL</div>
        </div>
        <hr>
        <section>

            <article>
                <div class="detalleproducto">
                    <div class="contenedorimagen">
                        <figure class="imgproducto">
                            <img src="img/ss1.jpg" alt="Shampoo Sólido">
                        </figure>
                    </div>
                    <div class="descripcion">
                        <h3>SHAMPOO SÓLIDO FORTALECEDOR DE ORTIGA Y ROMERO</h3>
                        <h5>100% Natural</h5>
                        <h3>$400</h3>
                        <div class="quantity">
                        <p>Cantidad:</p>
                        <select>
                            <label>Cantidad</label>
                            <option name="1">1</option>
                            <option name="2">2</option>
                            <option name="3">3</option>
                            <option name="4">4</option>
                            <option name="5">5</option>
                            <option name="6">6</option>
                        </select>
                    </div>
                    </div>
                    <div class="contenedorasubtotal">
                        <h3>$240</h3>
                        <button name="vaciarcarrito" class="papelera"><i class="fas fa-trash-alt "></i></button>
                    </div>
                </div>
            </article>

        </section>
        <hr>

        <div class="subtotalfinal">
            <div class="subt">
                <p>Subtotal (sin envío):</p>
            </div>
            <div class="preciofinal">
                <h3>$240</h3>
            </div>
        </div>

        <hr>

        <div class="envío">
            <label>Método de envío:</label>
            <select>
                <option name="retirolocal">Retiro en el local</option>
                <option name="envíoadomicilio">Envío a domicilio</option>

            </select>
        </div>

        <hr>

        <div class="subtotalfinal">
            <div class="total">
                <p>Total:</p>
            </div>
            <div class="preciofinal">
                <h3>$240</h3>
            </div>
            
        </div>

        <div class="finalizarcompra">
            <a href="/">FINALIZAR COMPRA</a>
        </div>

        <div class="vermas">
            <a href="/">Ver más productos</a>
        </div>

               <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
               <figure class="banner-carrousel-bottom-cart">
                <img src="img/banner-bottom.gif" alt="banner-bottom">
            </figure>

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>

</html>