<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-register.css">

<body>

    <%- include("../partials/header.ejs")%>

    <!-- FORMULARIO REGISTRO -->
    <main class="main-register">
        <ul class="mediaquery-menu-list">
            <li class="mediaquery-menu-list-item">
                <a href="/" class="mediaquery-menu-list-item-anchor">Inicio</a>
            </li>
            <li class="mediaquery-menu-list-item">
                <a href="/products" class="mediaquery-menu-list-item-anchor">Productos</a>
            </li>
            <li class="mediaquery-menu-list-item">
                <a href="/cart" class="mediaquery-menu-list-item-anchor">Carrito</a>
            </li>
            <li class="mediaquery-menu-list-item">
                <a href="/products" class="mediaquery-menu-list-item-anchor">¡Sale!</a>
            </li>
        </ul>
    </section>
        <section class="encabezadoregistro">
            <h1 class="encabezado"> Registrarme</h1>
        </section>
        <section class="registro">
            <form class="formularioregistro" action="/" method="POST">
                <div class="estilodiv">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Indique su nombre" class="formatocampo"required>

                </div>
                <div class="estilodiv">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido" placeholder="Indique su apellido" class="formatocampo" required>

                </div>
                <div class="estilodiv">
                    <label for="fecha">Fecha de Nacimiento</label>
                    <input type="date" id="fecha" name="fecha" value="2021/01/19" min="2003/01/19" class="formatocampo" required>

                </div>
                <div class="estilodiv">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" id="domicilio" name="domicilio" placeholder="Indique su domicilio" class="formatocampo" required>

                </div>

                <div class="estilodiv">
                    <label for="telefono">Teléfono</label>
                    <input type="number" id="telefono" name="telefono" placeholder="Indique su N° de teléfono" class="formatocampo" required>

                </div>


                <div class="estilodiv">
                    <label for="foto">Foto de Usuario</label>
                    <input type="file" id="foto" name="foto" accept=".jpg" class="formatocampo">
                </div>
                <div class="estilodiv">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Ej: tunombre@email.com" class="formatocampo" required>
                </div>

                <div class="estilodiv">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña" class="formatocampo" required>
                </div>
                <div class="estilodiv">
                    <label for="contraseña2">Confirmar contraseña</label>
                    <input type="password" id="contraseña2" name="contraseña2" class="formatocampo" required>
                </div>

                <div class="terms-newsletter">
                    <div class="terms">
                        <input type="checkbox" name="terms" id="terms" required>
                        <label for="terms">Acepta <a href="#">términos y condiciones</a></label>
                    </div>
                    <div class="terms">
                        <input type="checkbox" name="newsletter" id="newsletter">
                        <label for="terms">¡Quiero suscribirme al newsletter!</label>
                    </div>
                </div>

                <div class="estilodiv center">
                    <input type="reset" value="Borrar" class="button">
                    <input type="submit" value="Registrarme" class="button">

                </div>


            </form>
            <div>
                <h4 class="iniciarsesion"><a href="/login">¿Ya tenés cuenta? Iniciá Sesión</a></h4>
            </div>
        </section>

                <!-- BANNER-BOTTOM (FUTURO CARROUSEL)-->
                <figure class="banner-carrousel-bottom">
                    <img src="img/banner-bottom.gif" alt="banner-bottom">
                </figure>

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>

</html>